.app-container {
  display: flex;
  padding: 10px;
  width: 90%;
  margin: 30px auto;
  font-family: sans-serif;
}

.formulario {
  flex: 1;
  border: 3px solid orange;
  padding: 20px;
  margin-right: 20px;
}

.listado {
  flex: 1;
  border: 3px solid brown;
  padding: 20px;
}

.cita {
  border: 2px solid steelblue;
  padding: 100px;
  margin-bottom: 30px;
}
